
$colorz: (
    blue: #1100BC,
    purple: #B893C6,
    lightblue: #6E98D2,
    darkpurple: #53275E,
    white:#ffffff,
 );
 @font-face {
     font-family: GeorgeRound;
     src: url(../assets/font/george.otf);
 }